<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/newprj" version="1.0.0" viewmodes="maximized">
    <tizen:application id="JAkzPobcAn.newprj" package="JAkzPobcAn" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/sensor.magnetometer"/>
    <feature name="http://tizen.org/feature/sensor.accelerometer"/>
    <feature name="http://tizen.org/feature/sensor.gyroscope"/>
    <icon src="icon.png"/>
    <name>newprj</name>
</widget>
